.glass {
  backdrop-filter: blur(20px);
  background: transparent;

  &-dark {
    @extend .glass;

    background-color: rgba(10,30,30, 0.35);
  }

  &-primary {
    @extend .glass;

    background-color: transparentize($blue-10, 0.65);
  }

  &-secondary {
    @extend .glass;

    background-color: transparentize($teal-10, 0.65);
  }

  &-info {
    @extend .glass;

    background-color: transparentize($blue-3, 0.65);
  }
}
